/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

body {
   
    margin:0px;
    padding:0px 50px;
    font-family: 'Raleway';
}

/*******nav-bar**********/
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-top: Opx;
    padding: 0px 50px;
    gap: 68px;
}

li {
    list-style: none;
}

.logo {
    /* text-align: center; */
    padding: 30px 0px;
    gap:10px;
}

a {
    color: inherit;
    text-decoration: none;
}
#menu-bar a:hover{
    text-decoration: overline;
    text-decoration-color: var(--main-color)
}

/************header*************/

header{
    margin-top: 35px;
}

h1{
    font-size: 22px;
}
p{
    font-size: 16px;
}
/**********formulaire***********/

.header-search {
  width:377px;
  height: 49px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  background: var(--main-bg-color); /* fond gris clair pour l'input */
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
 
}

i {
    display: block;
    width: 49px;
    backgrounb-color:var(--main-bg-color)
}

.header-search input {

  line-height: 100%;
  border: none;
  outline: none;
  text-align: center;
  padding: 10px 12px;
  font-size: 18px;
  background: white;
  
}
input::placeholder{
    font-weight: bold;
    color:black;
}

.header-search button {
  font-size: 16px;
  line-height: 100%;
  width: 100%;
  height: 100%;
  padding: 15px 16px;
  background-color: #007bff; /* bleu bouton */
  color: white;
  border: 1 solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
}
  /*********header-filter********/

  .header-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
   /* width: 758px;*/
    margin-top: 15px;
    gap:15px;

  }

  .header-filter h3{
    font-size: 18px;
    margin: 0;
  }

  .header-main-container-filter{
    display: flex;
    flex-direction: row;
    gap: 8px;
    
  }

  .header-first-container-filter, .header-second-container-filter{
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.header-main-container-filter a{
    text-decoration:none;
}

  .header-main-container-filter h4{
   
    font-size: 17px;
    font-weight: bold;
  }


.economique{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
}

.familial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height:50px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
}

.romantique{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height:50px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);

}
.pépites{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height:50px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
}

/****** filtre-Hover ********/
.header-first-container-filter div:hover{
  background-color: var(--filter-bg-color);
}
.header-second-container-filter div:hover{
  background-color: var(--filter-bg-color);
}

/********disclaimer*********/
.header-disclaimer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    height: 24px;
}

.header-disclaimer i{
    border: 1px solid #d9d9d9;
    border-radius: 50px;
}

/*********main*********/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}







/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}